<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produtos</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Cadastro de produtos</h1>
    <form action="/cadastrar method=POST">
        <label for="c_id">ID</label>
        <input type="text" name="id" id="c_id" required>

        <label for="c_nome">Nome</label>
        <input type="text" name="nome" id="c_nome" required>

        <label for="c_tamanho">Tamanho</label>
        <input type="text" name="tamanho" id="c_tamanho" required>

        <label for="c_categoria">Categoria</label>
        <input type="text" name="categoria" id="c_categoria" required>

        <label for="c_quantidade">Quantidade</label>
        <input type="number" name="quantidade" step="1" id="c_quantidade" required>

        <button type="submit">Cadastrar</button>
    </form>
    <h2>Lista de produtos</h2>
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Tamanho</th>
            <th>Categoria</th>
            <th>Quantidade</th>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{produto.ID}}</td>
                <td>{{produto.NOME}}</td>
                <td>{{produto.TAMANHO}}</td>
                <td>{{produto.CATEGORIA}}</td>
                <td>{{produto.QUANTIDADE}}</td>
            </tr>
            <td>
                <a href="{{url_for('excluir', id=produto.ID)}}"
                    onclick="return confirm('Deseja remover este cliente ?')">
                    Excluir</a>
            </td>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>